body {
    margin: 0%;
}
.banner {
    display: flex;
    background-color: rgb(33, 33, 168);
    padding: 10px;
    color: rgb(255, 255, 255);
}
.title {
    width: 80%;
}
.userInfo {
    font-style: italic;
}
#container {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px;
}
.loginLeft {
    width: 500px;
    padding: 20px;
}
.loginRight {
    width: 300px;
    text-align: center;
}
.loginRight input,button {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.footer {
    background-color: white;
}
.divMenu {
    width: 20%;
    border-right: dotted 1px;
    padding: 5px;
    line-height: 20px;
}
.divContent {
    width: 80%;
    padding: 10px;
}